td:nth-child(1){
  visibility: hidden;
}

td:nth-child(n+3){
  visibility: hidden;
}
th:nth-child(1){
  visibility: hidden;
}

th:nth-child(n+3){
  visibility: hidden;
}

table {
  float: right;
  border: 2px solid black;
}

td {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 6px;
}

th {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border: 2px solid black;
}

body {
  text-align: center;
}

div {
  display: inline-block;
}
